<% provide(:title, 'Help') %>
<h2>Help</h2>
<hr/>


<div class="card">
	<div class="card-header">Q: Why can't I delete my user account?</div>
	<div class="card-body small">A: To delete your account, you must contact the administrator.</div>
</div>
<div>&nbsp;</div>

<div class="card">
	<div class="card-header">Q: Why can't I delete a game?</div>
	<div class="card-body small">A: Now we can't have users going around deleted each other's contributions. If you have reason to believe a game or review violates common decency, have it reviewed by the administrator.</div>
</div>  
<div>&nbsp;</div>
<div class="card">
	<div class="card-header">Q: Can I post a game or review that violates common decency?</div>
	<div class="card-body small">A: No.</div>
</div>  
<div>&nbsp;</div>
<div class="card">
	<div class="card-header">Q: What violates common decency?</div>
	<div class="card-body small">A: Anything the administrator says.<br/>
	These may be:<br/>
	- Reviews, summaries, or other written content containing language.<br/>
	- Any video game that fails the <%= link_to 'Miller Test.', 'https://en.wikipedia.org/wiki/Miller_test' %></div>
</div>
<div> &nbsp;</div>
<div class="card">
	<div class="card-header">Q: Why can't I contact the administrator?</div>
	<div class="card-body small">A: Because we haven't implemented e-mail yet, and therefore we have not implemented the Miller Test.</div>
</div>  
<div> &nbsp;</div>