<% provide(:title, 'Edit ' + @game.title) %>
<ul class="nav">
    <li class="nav-header navbar-text mr-2">
        <h2>Editing Game</h2>   
    </li>
    <li class="nav-item navbar-text">
        <div class="btn-group">
        <%= link_to 'Show', @game, class: "btn btn-primary"  %>
        <%= link_to 'Back', games_path, class: "btn btn-primary"  %>
        </div>
    </li>
</ul>
<%= render 'form', game: @game %>
