// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.game_cover 
{
    width: 64px;
}

.game_cover_large
{
    width: 256px;
}
.formbox
{
    background: red;
}